@{
	ViewBag.Title = "Statystyki wysyłanych emaili";
}

<h1 class="mt-5 text-center">Statystyki użytkownika</h1>
<div class="px-5">
	<table class="table table-hover table-striped mt-5 mb-5 text-center">
		<thead>
			<tr>
				<th scope="col">Wysłanych emaili</th>
				<th scope="col">Zapisanych kontaktów</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@ViewBag.NumberOfEmails</td>
				<td>@ViewBag.NumberOfContacts</td>
			</tr>
		</tbody>
	</table>
</div>