@model bool

@{
	ViewBag.Title = "Wysyłanie maila";
}

@if (Model)
{
<p class="alert alert-info mt-4 mb-4 text-center">Wysłano email.</p>
}
else
{
<p class="alert alert-danger mt-4 mb-4 text-center">
	Nie udało się wysłać emaila!
	<br />
	<br />
	@ViewBag.ErrorMessage
</p>
}

<button type="button"
		class="col-lg-2 offset-lg-5 btn btn-primary btn-lg mb-5"
		onclick='window.location.href="@Url.Action("Index", "Home")"'>
	Wyślij nowy email
</button>