<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="StudentsDiary.WinFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<StudentsDiary.WinFormsApp.Properties.Settings>
			<setting name="IsMaximized" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MainWindowLocation" serializeAs="String">
				<value>-1, -1</value>
			</setting>
			<setting name="MainWindowSize" serializeAs="String">
				<value>1, 1</value>
			</setting>
		</StudentsDiary.WinFormsApp.Properties.Settings>
	</userSettings>
</configuration>