<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerAddress" value="(local)" />
		<add key="ServerName" value="SQLEXPRESS" />
		<add key="Database" value="HumanResources" />
		<add key="User" value="DBUser" />
		<add key="Password" value="encrypt:" />
	</appSettings>
</configuration>