<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StudentsDiary.WpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StudentsDiary.WpfApp.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>StudentsDiary</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>dbuser</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </StudentsDiary.WpfApp.Properties.Settings>
    </userSettings>
</configuration>