
@{
	ViewBag.Title = "ArgumentException";
}

@* INFO - dodanie własnej strony błędu wyświetlanej podczas wystąpienia określonego typu wyjątku *@
<h2>INFO - dodanie własnej strony błędu wyświetlanej podczas wystąpienia określonego typu wyjątku</h2>

